<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<header class="site-header">
    <div class="container-fluid">
        <div style="text-align: center;"><a href="#" class="site-logo-user">
            <!--<img class="hidden-md-down" src="img/logo-2.png" alt="">
            <img class="hidden-lg-down" src="img/logo-2-mob.png" alt="">-->
            <h3>LANCH</h3>
        </a></div>

    </div><!--.container-fluid-->
</header><!--.site-header-->
<link rel="stylesheet" href="../stylesheets/build/separate/pages/login.min.css">
    <link rel="stylesheet" href="../stylesheets/build/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/build/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/build/main.css">
</head>
<body>

    <div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid" style="margin-top: 100px;">
                <form class="sign-box">
                    
                    <header class="sign-title">Cargos</header>

                    <div class="form-group">
                        <p >Nombre</p>
                        <input type="text" class="form-control" placeholder="Juan Perez"/>
                    </div>
                    <div class="form-group">
                        <p >Descripción</p>
                        <textarea class="form-control" rows="4"></textarea>
                    </div>

                    <button type="submit" class="btn btn-rounded btn-success sign-up">Enviar</button>

                </form>
            </div>
        </div>
    </div><!--.page-center-->



<script src="../javascript/plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="../javascript/plugins/popper/popper.min.js"></script>
<script src="../javascript/plugins/tether/tether.min.js"></script>
<script src="../javascript/plugins/bootstrap/bootstrap.min.js"></script>
<script src="../javascript/build/plugins.js"></script>
<script type="text/javascript" src="javascript/plugins/match-height/jquery.matchHeight.min.js"></script>
</script>
    <script>
        $(function() {
            $('.page-center').matchHeight({
                target: $('html')
            });

            $(window).resize(function(){
                setTimeout(function(){
                    $('.page-center').matchHeight({ remove: true });
                    $('.page-center').matchHeight({
                        target: $('html')
                    });
                },100);
            });
        });
    </script>
<script src="../javascript/build/app.js"></script>
</body>
</html>