<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<header class="site-header">
    <div class="container-fluid">
        <div style="text-align: center;"><a href="#" class="site-logo-user">
            <!--<img class="hidden-md-down" src="img/logo-2.png" alt="">
            <img class="hidden-lg-down" src="img/logo-2-mob.png" alt="">-->
            <h3>LANCH</h3>
        </a></div>

    </div><!--.container-fluid-->
</header><!--.site-header-->

<link rel="stylesheet" href="../stylesheets/build/separate/pages/login.min.css">
    <link rel="stylesheet" href="../stylesheets/build/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/build/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/build/main.css">
</head>
<body>

    <div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid" style="margin-top: 100px;">
                <form class="sign-box">
                    
                    <header class="sign-title">Registro</header>
                    <div class="form-group">
                        <p >Email</p>
                        <input type="text" class="form-control" placeholder="example@email.com"/>
                    </div>
                    <div class="form-group">
                        <p>Password</p>
                        <input type="password" class="form-control" placeholder="***********"/>
                    </div>
                    <div class="form-group" >
                        <p>Teléfono</p>
                        <select class="form-control">
                          <option>Movil</option>
                          <option>Local</option>
                        </select>
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="+58"/>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="04121234567"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <p>Cargo</p>
                        <select class="form-control">
                          <option>ADMIN</option>
                          <option>USER</option>
                        </select>
                    </div>

                    <div class="form-group" >
                        <p>Estatus</p>
                        <select class="form-control">
                          <option>Activo</option>
                          <option>Inactivo</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-rounded btn-success sign-up">Registrar</button>
                    <!--<p class="sign-note">Already have an account? <a href="sign-in.html">Sign in</a></p>
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>-->
                </form>
            </div>
        </div>
    </div><!--.page-center-->

<script src="../javascript/plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="../javascript/plugins/popper/popper.min.js"></script>
<script src="../javascript/plugins/tether/tether.min.js"></script>
<script src="../javascript/plugins/bootstrap/bootstrap.min.js"></script>
<script src="../javascript/build/plugins.js"></script>
<script type="text/javascript" src="javascript/plugins/match-height/jquery.matchHeight.min.js"></script>
    ></script>
    <script>
        $(function() {
            $('.page-center').matchHeight({
                target: $('html')
            });

            $(window).resize(function(){
                setTimeout(function(){
                    $('.page-center').matchHeight({ remove: true });
                    $('.page-center').matchHeight({
                        target: $('html')
                    });
                },100);
            });
        });
    </script>
<script src="../javascript/build/app.js"></script>
</body>
</html>